In [1]:
from bs4 import BeautifulSoup
import requests

In [132]:

request = requests.get("http://books.toscrape.com/")
soup = BeautifulSoup(request.content, 'html.parser')
container = soup.find_all(class_="col-xs-6 col-sm-4 col-md-3 col-lg-3")

In [133]:
containers = [container]
for i in list(range(2,51)):
    request = requests.get(f"http://books.toscrape.com/catalogue/page-{i}.html")
    soup = BeautifulSoup(request.content, 'html.parser')
    container = soup.find_all(class_="col-xs-6 col-sm-4 col-md-3 col-lg-3")
    containers.append(container)

50

In [172]:
len(containers[2])

20

In [3]:
soup = BeautifulSoup(request.content, 'html.parser')

In [50]:
container = soup.find_all(class_="col-xs-6 col-sm-4 col-md-3 col-lg-3")
container[0].h3.a['title']
len(container)

20

In [135]:
def get_titles(container):
    title_lst = []
    for i in container:
        title_lst.append(i.h3.a['title'])
    return title_lst

get_titles(containers[0])

['A Light in the Attic',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History of Humankind',
 'The Requiem Red',
 'The Dirty Little Secrets of Getting Your Dream Job',
 'The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
 'The Black Maria',
 'Starving Hearts (Triangular Trade Trilogy, #1)',
 "Shakespeare's Sonnets",
 'Set Me Free',
 "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
 'Rip it Up and Start Again',
 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
 'Olio',
 'Mesaerion: The Best Science Fiction Stories 1800-1849',
 'Libertarianism for Beginners',
 "It's Only the Himalayas"]

In [106]:
def get_rating(container):
    rating_lst = []
    for i in container:
        rating_lst.append(i.p['class'])
    num_rating = []
    for i in rating_lst:
        num_rating.append(i[1])
    return num_rating
get_rating(container)

['Three',
 'One',
 'One',
 'Four',
 'Five',
 'One',
 'Four',
 'Three',
 'Four',
 'One',
 'Two',
 'Four',
 'Five',
 'Five',
 'Five',
 'Three',
 'One',
 'One',
 'Two',
 'Two']

In [100]:
def get_price(container):
    
    price_lst = soup.find_all(class_='product_price')
    clean_lst = []
    for i in price_lst:
        y = str(i.p)
        start = y.find('">') + 3
        end = y.find('</', start)
        z = float(y[start:end])
        clean_lst.append(z)
    return clean_lst

get_price(container)

[51.77,
 53.74,
 50.1,
 47.82,
 54.23,
 22.65,
 33.34,
 17.93,
 22.6,
 52.15,
 13.99,
 20.66,
 17.46,
 52.29,
 35.02,
 57.25,
 23.88,
 37.59,
 51.33,
 45.17]

In [167]:
def get_all(containers):
    Name = []
    Rating = []
    Price = []
    for container in containers:
        Name.append(get_titles(container))
        Rating.append(get_rating(container))
        Price.append(get_price(container))
    return Name, Rating, Price

20

In [164]:
for container in containers:
    all_data = {'Name': get_titles(container), 
        'Rating': get_rating(container), 
        'Price': get_price(container)} 
    
all_data

{'Name': ['Frankenstein',
  'Forever Rockers (The Rocker #12)',
  'Fighting Fate (Fighting #6)',
  'Emma',
  'Eat, Pray, Love',
  'Deep Under (Walker Security #1)',
  "Choosing Our Religion: The Spiritual Lives of America's Nones",
  'Charlie and the Chocolate Factory (Charlie Bucket #1)',
  "Charity's Cross (Charles Towne Belles #4)",
  'Bright Lines',
  "Bridget Jones's Diary (Bridget Jones #1)",
  'Bounty (Colorado Mountain #7)',
  'Blood Defense (Samantha Brinkman #1)',
  'Bleach, Vol. 1: Strawberry and the Soul Reapers (Bleach #1)',
  'Beyond Good and Evil',
  "Alice in Wonderland (Alice's Adventures in Wonderland #1)",
  'Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)',
  "A Spy's Devotion (The Regency Spies of London #1)",
  "1st to Die (Women's Murder Club #1)",
  '1,000 Places to See Before You Die'],
 'Rating': ['Two',
  'Three',
  'Three',
  'Two',
  'Three',
  'Five',
  'Four',
  'Three',
  'One',
  'Five',
  'One',
  'Four',
  'Three',
  'Five',
  'One',
  'One',
  'Four',
  'Five',
  'One',
  'Five'],
 'Price': [38.0,
  28.8,
  39.24,
  32.93,
  51.32,
  47.09,
  28.42,
  22.85,
  41.24,
  39.07,
  29.82,
  37.26,
  20.3,
  34.65,
  43.38,
  55.53,
  57.06,
  16.97,
  53.98,
  26.08]}

In [153]:
import pandas as pd
data = {'Name': get_all(containers)[0][0], 
        'Rating': get_all(containers)[1][0], 
        'Price': get_all(containers)[2][0]} 
df = pd.DataFrame(data)
df['Rating'] = df['Rating'].map({'One':1, 'Two':2, 'Three':3, 'Four':4, 'Five':5})
df

                                                 Name  Rating  Price
0                                A Light in the Attic       3  38.00
1                                  Tipping the Velvet       1  28.80
2                                          Soumission       1  39.24
3                                       Sharp Objects       4  32.93
4               Sapiens: A Brief History of Humankind       5  51.32
5                                     The Requiem Red       1  47.09
6   The Dirty Little Secrets of Getting Your Dream...       4  28.42
7   The Coming Woman: A Novel Based on the Life of...       3  22.85
8   The Boys in the Boat: Nine Americans and Their...       4  41.24
9                                     The Black Maria       1  39.07
10     Starving Hearts (Triangular Trade Trilogy, #1)       2  29.82
11                              Shakespeare's Sonnets       4  37.26
12                                        Set Me Free       5  20.30
13  Scott Pilgrim's Precious Little Life (Scott Pi...       5  34.65
14                          Rip it Up and Start Again       5  43.38
15  Our Band Could Be Your Life: Scenes from the A...       3  55.53
16                                               Olio       1  57.06
17  Mesaerion: The Best Science Fiction Stories 18...       1  16.97
18                       Libertarianism for Beginners       2  53.98
19                            It's Only the Himalayas       2  26.08

In [114]:
http://books.toscrape.com/
http://books.toscrape.com/catalogue/page-2.html
http://books.toscrape.com/catalogue/page-3.html

SyntaxError: invalid syntax (<ipython-input-114-01747845bf04>, line 1)